
.d-none {
    display: none;
}

.padding-10 {
    padding: 10px;
}

#discount-form p.box__title {

    margin-top: 15px;
}

#discount-form .btn-success {

    margin-top: 15px;
}

.text-white {
    color: #fff;
}

.modal {
    padding-top: 100px !important;
}

.t-header-searchbox:after {
    top: 72%;
}

.t-header-searchbox.open:after {

    top: 54%;
}

.t-header-search-content {
    top: 60px;
}

#selectCourseContainer {
    height: auto;
    margin-top: 16px;
    margin-bottom: -10px;


}

.select2-container--default.select2-container--focus .select2-selection--multiple {

    border: solid 2px #e2e2e2 !important;

}

#selectCourseContainer .select2 {
    width: 100% !important;

}

#selectCourseContainer .selection {
    display: block;
    width: 100%;
}

#selectCourseContainer .selection textarea {
    margin: 8px 0 7px 0;
    font-family: irs;
    font-size: 14px;
}

#selectCourseContainer .select2-container {
    height: 100%;
    direction: rtl;

}

#selectCourseContainer .select2-search__field {

    height: 18px !important;

}

.select2-results ul li {
    text-align: right;
}

#selectCourseContainer .select2-selection__choice .select2-selection__choice__display {
    font-size: 12px;
}

#selectCourseContainer ul#select2-courses-xx-container {
    text-align: right;
    direction: ltr;
    display: list-item;
}

.loading {
    width: 25px;
    float: left;
    position: absolute;
    left: 20px;
}

.text-success {
    color: #00b894 !important;
}

.text-info {
    color: #189bc3 !important;
}

.text-warning {
    color: #e3a507 !important;
}

.text-error {
    color: #e73368 !important;
}

.t-header-logo a {
    position: relative;
    left: 40px;
}

.header__logo {
    margin-top: 0px;
    margin-right: -74px;
}

.transition-ticket-body pre, .transition-comment-body pre {
    font-family: irs;
}

.attachement {
    display: inline-block;
    margin: 26px;
    font-size: 13px;
    background-color: #24d94b;
    padding: 11px;
    border-radius: 24px;
    color: #fff;
    font-weight: 800;
}

.btn {
    padding: 7px 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    font-weight: 500;
    border-radius: 40px;
    cursor: pointer;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}


/************************************* start bootstrap change style */

html {
    font-family: unset;
    line-height: unset;
}

.breadcrumb {
    display: unset;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    padding: unset;
    margin-bottom: unset;
    list-style: unset;
    background-color: unset;
    border-radius: unset;

}

.no-gutters > .col, .no-gutters > [class*=col-] {
    /*padding: 20px;*/
}

.t-header-search .btn-success {
    display: inline-block;
    margin-top: 10px;
}

p {
    margin-top: unset;
    margin-bottom: unset;
}

.table td, .table th {
    color: #636e72;
    border-bottom: 1px solid #e2e2e2;
}

.table thead th {
    border-bottom: 1px solid #e2e2e2;
}

.table td, .table th {

    border-top: unset;
}

dl, ol, ul {
    margin-top: unset;
    margin-bottom: unset;
}

a, a:active, a:focus, a:visited {
    text-decoration: unset !important;
    color: #444;
}

.dropdown-select .dd-searchbox {
    padding: unset;
}

.invalid-feedback {
    display: block;
}

/************************************* end bootstrap change style */
