.dark-light {

    display: none;
}

.d-none {
    display: none;
}

.padding-10 {
    padding: 10px;
}

#discount-form p.box__title {

    margin-top: 15px;
}

#discount-form .btn-success {

    margin-top: 15px;
}

.text-white {
    color: #fff;
}

.modal {
    padding-top: 100px !important;
}

.t-header-searchbox:after {
    top: 72%;
}

.t-header-searchbox.open:after {

    top: 54%;
}

.t-header-search-content {
    top: 60px;
}

#selectCourseContainer {
    height: auto;
    margin-top: 16px;
    margin-bottom: -10px;


}

.select2-container--default.select2-container--focus .select2-selection--multiple {

    border: solid 2px #e2e2e2 !important;

}

#selectCourseContainer .select2 {
    width: 100% !important;

}

#selectCourseContainer .selection {
    display: block;
    width: 100%;
}

#selectCourseContainer .selection textarea {
    margin: 8px 0 7px 0;
    font-family: irs;
    font-size: 14px;
}

#selectCourseContainer .select2-container {
    height: 100%;
    direction: rtl;

}

#selectCourseContainer .select2-search__field {

    height: 18px !important;

}

.select2-results ul li {
    text-align: right;
}

#selectCourseContainer .select2-selection__choice .select2-selection__choice__display {
    font-size: 12px;
}

#selectCourseContainer ul#select2-courses-xx-container {
    text-align: right;
    direction: ltr;
    display: list-item;
}

.loading {
    width: 25px;
    float: left;
    position: absolute;
    left: 20px;
}

.text-success {
    color: #00b894 !important;
}

.text-info {
    color: #189bc3 !important;
}

.text-warning {
    color: #e3a507 !important;
}

.text-error {
    color: #e73368 !important;
}

.t-header-logo a {
    position: relative;
    left: 40px;
}

.header__logo {
    margin-top: 0px;
    margin-right: -74px;
}

.transition-ticket-body pre, .transition-comment-body pre {
    font-family: irs;
}

.attachement {
    display: inline-block;
    margin: 26px;
    font-size: 13px;
    background-color: #24d94b;
    padding: 11px;
    border-radius: 24px;
    color: #fff;
    font-weight: 800;
}

.btn {
    padding: 7px 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    font-weight: 500;
    border-radius: 40px;
    cursor: pointer;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.sidebar-pic {
    width: 100%;
}

.sidebar-pic a {
    width: 100%;
}

.dark-mode .table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #212d39;
}

.dark-mode .slideshow .item-inner {
    background: #ffffff !important;
}


.dark-mode #navigation a {
    color: #ffffff !important;
}

.dark-mode #single .article .title {
    color: #FFFFFF;
}

.dark-mode .breadcrumb ul li a {
    color: rgba(209, 218, 231, 1);
}

.dark-mode footer .f-links a {
    color: rgba(209, 218, 231, 1);
}

.dark-mode .course-description p {
    color: rgba(209, 218, 231, 1);
    line-height: 32px;
    margin: 32px 0;
}

.dark-mode .product-meta-info-list .meta-info-unit span {
    color: rgba(209, 218, 231, 1);

}

.dark-mode .product-info-box .total_sales {
    color: #d1d1d2 !important;
}

.dark-mode .course-teacher-details .top-part .name a {
    color: #d1d1d2 !important;
}

.dark-mode .ct-header h3 {
    color: #fff !important;
}

.dark-mode .ct-header p {
    color: #d1d1d2 !important;
}

.dark-mode .col--8 p {

    color: rgba(209, 218, 231, 1);
}


.dark-mode .course-description-title {
    color: rgba(209, 218, 231, 1);

}


.dark-mode .episodes-list--title {
    color: #FFFFFF
}

.dark-mode .episodes-list--title a {
    color: #FFFFFF
}

.dark-mode .product-info-box .price .amount {
    color: #FFFFFF
}

.dark-mode .webamooz a {
    color: #fff;
}

.dark-mode .user-menu-account span {
    color: #fff;
    font-size: .855rem;
}

.dark-mode .user-menu-account-dropdown ul li a {
    color: #fff;
}

.dark-mode .posts .col, .dark-mode .episodes-list-item,
.dark-mode .ct-textarea-field, .dark-mode .how-to-become-a--teacher-form input, .dark-mode .how-to-become-a--teacher-form textarea, .dark-mode .txt, .dark-mode textarea {
    background: rgba(27, 52, 77, 1) !important;
}

.dark-mode .t-header, .dark-mode .t-header .container, .dark-mode footer,
.dark-mode #navigation, .dark-mode .triangle, .dark-mode .sub-menu, .dark-mode .nav,
.dark-mode .posts .col, .dark-mode .articles .col,
.dark-mode #single .article > .h-t, .dark-mode .product-info-box .sell_course,
.dark-mode .product-info-box .sell_course::after, .dark-mode .product-info-box .sell_course::before,
.dark-mode .course-description,
.dark-mode .episodes-list,
.dark-mode .episodes-list-details .detail-type, .dark-mode .episodes-list-details .detail-time,
.dark-mode .entry-content, .dark-mode .bt-accrdion-li,
.dark-mode .user-menu-account-dropdown, .dark-mode .course-teacher-details, .dark-mode .slideshow .prev, .dark-mode .slideshow .next, .dark-mode .slideshow .items,
.dark-mode .bt-1-top,
.dark-mode .modal-content, .dark-mode .modal-header, .dark-mode .pagination a, .dark-mode .contact-us,
.dark-mode .comment-main,
.dark-mode .comment-list-ul {
    background-color: rgba(27, 52, 77, 1) !important;
}

.dark-mode .card-title h2 {
    color: #fff;
}

.dark-mode .card-body span {
    color: rgba(209, 218, 231, 1) !important;
}

.dark-mode .card-details .time {

    color: rgba(209, 218, 231, 1) !important;
}

.dark-mode .b-head h2 {
    color: rgba(209, 218, 231, 1) !important;
}

.dark-mode .b-head a {
    color: rgba(209, 218, 231, 1) !important;
}

.dark-mode .endPrice {
    background-color: rgba(27, 52, 77, 1) !important;
}

.dark-mode .t-header-search-result {
    background-color: rgba(14, 35, 56, 1) !important;
}

.dark-mode .t-header-searchbox input, .dark-mode .t-header-search-content {
    background-color: rgba(14, 35, 56, 1) !important;

}

.dark-mode .slideshow .item {
    background: #acafb5 !important;
}


.dark-mode .episodes-list .episodes-list-section .episodes-list-title a {


    color: rgba(209, 218, 231, 1);

}

.dark-mode .user-menu-account-dropdown:before {
    background-color: rgba(27, 52, 77, 1) !important;
}

.dark-mode #Modal-buy .modal-header p {
    color: #919899;
}

.dark-mode .table tbody tr:nth-of-type(2n+1) {
    background-color: #1b344d;
}

.dark-mode .btn {
    background: #0d439b !important;
    color: #fff;
}

.dark-mode .btn {
    background: #0d439b !important;
    color: #fff;
}

.dark-mode .act .form {
    background-color: rgba(27, 52, 77, 1) !important;
}

.dark-mode .act .form input::placeholder {
    color: rgba(209, 218, 231, 1);
}

.dark-mode .act .form .ui-checkbox {
    color: rgba(209, 218, 231, 1);
}

.dark-mode .act .form .form-content .rules {
    color: rgba(209, 218, 231, 1);
}

.dark-mode .act .form .activation-code-title {
    color: rgba(209, 218, 231, 1);
}

.dark-mode .act .form .activation-code-title span {
    color: #46b2f0;
}

.dark-mode .comments .comment-header-detail .comment-header-name {
    color: #d1d1d2 !important;
}

.dark-mode .comment-content p {
    color: rgba(209, 218, 231, 1);
}

.dark-mode .t-header-search-result a,
.dark-mode .comment-list-ul .is-comment,
.dark-mode .comment-list-ul .is-answer {
    background: #0e2338;

}

.dark-mode .comments .modal-header p {
    color: #d1d1d2 !important;
}

.dark-mode .mycourse {
    background: #0e2338 !important;

}

.dark-mode .posts .col, .dark-mode .episodes-list-item, .dark-mode .ct-textarea-field, .dark-mode .how-to-become-a--teacher-form input, .dark-mode .how-to-become-a--teacher-form textarea, .dark-mode .txt, .dark-mode textarea {
    background: #0e2338 !important;
}

/************************************* start bootstrap change style */

html {
    font-family: unset;
    line-height: unset;
}

.breadcrumb {
    display: unset;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    padding: unset;
    margin-bottom: unset;
    list-style: unset;
    background-color: unset;
    border-radius: unset;

}

.no-gutters > .col, .no-gutters > [class*=col-] {
    /*padding: 20px;*/
}

.t-header-search .btn-success {
    display: inline-block;
    margin-top: 10px;
}

p {
    margin-top: unset;
    margin-bottom: unset;
}

.table td, .table th {
    color: #636e72;
    border-bottom: 1px solid #e2e2e2;
}

.table thead th {
    border-bottom: 1px solid #e2e2e2;
}

.table td, .table th {

    border-top: unset;
}

dl, ol, ul {
    margin-top: unset;
    margin-bottom: unset;
}

a, a:active, a:focus, a:visited {
    text-decoration: unset !important;
    color: #444;
}

.dropdown-select .dd-searchbox {
    padding: unset;
}

.invalid-feedback {
    display: block;
}

.nav-comment-status {
    top: 20px

}

.transition-comment {
    position: relative;
}

.comment-actions {
    position: absolute;
    top: 25px;
    left: 5px;
}

span.confirmation_status {
    border: 1px solid #eee;
    padding: 5px 20px 5px 20px;
    background: #eee;
    border-radius: 5px;
    width: 126px;
    text-align: center;
}

button.btn.btn-brand {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin-top: 15px;
}

.comment-alert {
    color: darkred;
    padding: 28px;
    font-size: 18px;
    background: #fff;

}

/************************************* end bootstrap change style */
